.gradle
.settings
.classpath
.project
.metadata
.recommenders
bin
build
felix-framework*
catalog-v001.xml
/colibri-core/src/main/resources/postgresql-9.4.1209.jar
/colibri-optimization/res/*.mat
/colibri-optimization/res/*.csv
/colibri-optimization/res/*.ser
/colibri-optimization/res/*.idf
/colibri-optimization/res/individuals.txt
/colibri-optimization/lib/matlaboptimizer/for_testing/*
/colibri-optimization/lib/matlaboptimizer/for_redistribution/*
/colibri-optimization/lib/matlaboptimizer/for_redistribution_only/doc/*
/colibri-optimization/lib/matlaboptimizer/for_redistribution_only/default_icon.ico
/colibri-optimization/lib/matlaboptimizer/for_redistribution_only/readme.txt
