html,body{
	height:100%;
}
.carousel{
	height:100%;
}

.carousel-inner, .item {
	height:100%;
}

.qoute{
	width: 100px;
	height: 100px;
	background-color: red;
	z-index: 999;
	left: 50%;
	top: 50%;
}
